.task-list {
  list-style: none;
  padding: 0;
}

.task-list-item {
  background-color: #020017;
  border: 1px solid #000000;
  padding: 10px 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.task-text {
  color: white;
  font-weight: bolder;
}